{% extends "blogs/base.html" %}

{% block header %}
  <div class='jumbotron'><h1><a href="{% url 'new_post' %}">Add a new post</a></h1></div>
{% endblock header%}

{% block content %}
  {% for post in posts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><b>{{ post }}</b>
          <small>
            {{ post.owner }}. {{ post.date_added|date:'M d, Y H:i'}}
            <a href="{% url 'edit_post' post.id %}">Edit post</a>
          </small>
        </h3>
      </div>

      <div class="panel-body">
        {{ post.text|linebreaks }}
      </div>
    </div>    
    
    {% empty %}
      No posts have been added yet.
  {% endfor %}
{% endblock content %}
