{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Learning Log</title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>



<!--
<p>
  <a href="{% url 'index' %}">Learning Log</a> -
  <a href="{% url 'topics' %}">Topics</a> -
  {% if user.is_authenticated %}
    Hello, {{ user.username }} - 
    <a href="{% url 'logout' %}">log out</a>
  {% else %}
    <a href="{% url 'register' %}">register</a> -
    <a href="{% url 'login' %}">log in</a>
  {% endif %}
</p>

{% block content %}
{% endblock content %}
-->
