{% extends "learning_logs/base.html"%}

{% load bootstrap3 %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
  <p><a href="{% url 'topic' topic.id %}">Edit entry</a></p>

  <form method='post' action="{% url 'edit_entry' entry.id %}" class='form'>
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary">Save changes</button>
    {% endbuttons %}
  </form>

{% endblock content %}

<!--
20210501: João Paulo, janeiro de 2021:
  - Template para edit_entry (pg 488):
    O argumento action envia o formulário de volta à função edit_entry()
    para processamento.

    Incluímos o ID da entrada como argumento na tag \{\% url %} para que a
    função de view possa modificar o objeto de entrada correto.

    Colocamos o rótulo save changes (salvar alterações) no botão de
    submissão para lembrar o usuário que ele está salvando alterações, e
    não criando uma nova entrada.
-->
