{% extends "learning_logs/base.html" %}

{% block header %}
  <!-- Em um elemento jumbotron, colocamos uma tagline concisa para dar
    uma noção do que o Learning Log faz. 
  -->
  <div class='jumbotron'><h1>Track your learning</h1></div>
{% endblock header %}

{% block content %}
  <h2 align="justify">
    <a href="{% url 'register' %}">Register an account</a>
    to make your own Learning Log, and list the topics you're learning about.
  </h2>

  <h2 align="justify">
    Whenever you learn something new about a topic, make an entry summarizing
    what you've learned.
  </h2>
{% endblock content %}
