{% extends "learning_logs/base.html" %}


{% load bootstrap3 %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}

  <form method='post' action="{% url 'new_entry' topic.id %}" class='form'>
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name='submit' class="btn btn-primary">Add entry</button> 
    {% endbuttons %}
  </form>

{% endblock content %}

<!-- Mostramos o assunto na parte superior da página para que o usuário

possa ver para qual assunto ele está adicionando uma entrada.

Esse item também atua como um link de volta para a página principal
desse assunto.

O argumento action do formulário inclui o valor topic_id no URL para que
a função de view possa associar a nova entrada ao assunto correto.

Exceto por isso, esse template se parece exatamente com new_topic.html.-->
