{% extends "learning_logs/base.html"%}

{% block content %}
  <p>
    <a href="{% url 'topic' topic.id %}">
      {{ topic }}
    </a>
  </p>

  <p>Edit entry:</p>

  <form action="{% url 'edit_entry' entry.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}

    <button name="submit">
      save changes
    </button>

  </form>

{% endblock content %}

<!--
20210501: João Paulo, janeiro de 2021:
  - Template para edit_entry (pg 488):
    O argumento action envia o formulário de volta à função edit_entry()
    para processamento.

    Incluímos o ID da entrada como argumento na tag \{\% url %} para que a
    função de view possa modificar o objeto de entrada correto.

    Colocamos o rótulo save changes (salvar alterações) no botão de
    submissão para lembrar o usuário que ele está salvando alterações, e
    não criando uma nova entrada.
-->
